<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <h2>De paseo</h2>
 
 <form th:action="@{/newUser}" method="post">
  <button class="w3-button w3-black">Sign up</button>
   </form>
  
  <form th:action="@{/login}" method="post">
  <button class="w3-button w3-black">Login</button>
  </form>
  
  
</div>


</body>
</html>